<div class="container">
  <div class="row">
    <div class="col"></div>
    <form method="post" class="col-auto" (submit)="onSubmit($event, addBtn)">
      <div class="form-group">
        <!--        App Type-->
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Choose app type:</div>
          </div>
          <select [(ngModel)]="appType"
                  (change)="onProblemTypeSelect()"
                  id="problem-types"
                  name="problem-types"
                  class="form-control">
            <option *ngFor="let appType of apps | keyvalue" value="{{appType.value}}">
              {{appType.key}}
            </option>
          </select>
        </div>
        <!--        Problem Name-->
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Problem name:</div>
          </div>
          <input #problemInput
                 id="problem-title"
                 [readOnly]="!isProblemTypeSelected"
                 (input)="search(problemInput.value)"
                 [(ngModel)]="problem"
                 name="problem"
                 type="text"
                 class="form-control"
                 placeholder="Select an app type to search">
          <div *ngIf="!isProblemSelected" class="list-group">
            <a *ngFor="let problemName of namePattern$ | async"
               class="list-group-item list-group-item-action"
               (click)="onSelectProblem(problemName)">
              {{problemName}}
            </a>
          </div>
        </div>
        <!--        Source Code-->
        <div class="input-group">
          <label for="source-code">Problem Definition: </label>
          <input (change)="onFileSelect($event.target)"
                 type="file"
                 class="form-control-file"
                 id="source-code">
        </div>
      </div>
      <button #addBtn
              [disabled]="isProblemSelected"
              class="btn btn-success">Add
      </button>
    </form>
    <div class="col"></div>
  </div>

</div>
